<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>

<% include ../../partials/nav %>

<main class="container">
    <% if (person) { %>
    <h3 class="alert alert-info" role="alert">
        Personen Details
    </h3>

    <div class="col">
        <div id="section-to-print" class="card" style="margin-bottom: 1rem">
            <h4 class="card-header">
                <%= person.title %>
                <%= person.name %>,
                <%= person.vorname %>
            </h4>

            <div class="card-body">
                <p class="card-text">

                    <%= person.strasse %> <%= person.hausnummer %> <br/>
                    <%= person.postleitzahl %> <%= person.stadt %> <br/>
                    <%= person.email %> <br/>
                    PIN: <%= person.card.pin %> <br/>
                </p>

                <a id="hide-for-print" href="<%= `/persons/${person._id}` %>" type="button"
                   class="hiddenbutton btn btn-secondary">Karte beschreiben
                </a>

                <button id="hide-for-print" class="hiddenbutton btn btn-info" onclick="javascript:window.print()">
                    Drucken
                </button>
                <a id="hide-for-print" href="<%= `/person/pin/${person._id}` %>" type="button"
                   class="hiddenbutton btn btn-info">PIN Update
                </a>
                <% if (person.authtries >= 3) { %>
                <a id="hide-for-print" href="<%= `/person/authtries/${person._id}` %>" type="button"
                   class="hiddenbutton btn btn-warning">Karte freischalten
                </a>
                <% } %>
                <a id="hide-for-print" href="<%= `/person/${person._id}` %>" type="button"
                   class="hiddenbutton btn btn-danger">Person löschen
                </a>

            </div>

        </div>
        <%- include('../../partials/alert.ejs'); %>
    </div>
    <% } else { %>
    <%- include('../../partials/alert.ejs'); %>
    <a href="/persons" type="button"
       class="hiddenbutton btn btn-info">
        Weitere Person auswählen
    </a>
    <% } %>

</main>

<footer>
    <% include ../../partials/footer %>
</footer>
</body>

</html>